# Project exclude paths
/.dart_tool/
/build/
/Kutuphaneler/async/.dart_tool/
/Kutuphaneler/checks/.dart_tool/
/Kutuphaneler/collection/.dart_tool/
/Kutuphaneler/colorfilter_generator/.dart_tool/
/Kutuphaneler/crop_image/.dart_tool/
/Kutuphaneler/cross_file/.dart_tool/
/Kutuphaneler/dart_flutter_team_lints/.dart_tool/
/Kutuphaneler/flutter_plugin_android_lifecycle/.dart_tool/
/Kutuphaneler/http/.dart_tool/
/Kutuphaneler/http_parser/.dart_tool/
/Kutuphaneler/image_picker_android/.dart_tool/
/Kutuphaneler/image_picker_for_web/.dart_tool/
/Kutuphaneler/image_picker_ios/.dart_tool/
/Kutuphaneler/matrix2d/.dart_tool/
/Kutuphaneler/meta/.dart_tool/
/Kutuphaneler/mime/.dart_tool/
/Kutuphaneler/path/.dart_tool/
/Kutuphaneler/pigeon/.dart_tool/
/Kutuphaneler/pixel_color_image/.dart_tool/
/Kutuphaneler/pixel_color_picker/.dart_tool/
/Kutuphaneler/plugin_platform_interface/.dart_tool/
/Kutuphaneler/screen_shot/.dart_tool/
/Kutuphaneler/source_span/.dart_tool/
/Kutuphaneler/string_scanner/.dart_tool/
/Kutuphaneler/term_glyph/.dart_tool/
/Kutuphaneler/typed_data/.dart_tool/
/Kutuphaneler/web/web/.dart_tool/